.App {
  text-align: center;
}

.header-color {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.landing-grid {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.profile-image {
  padding-top: 5em;
  height: auto;
  width: 100%;
  max-width: 300px;
}
.profile-image:hover {
  /*start the shake animation and make the animation last for .5 seconds */
  animation: shake 0.5s;
  /* when animation is finished, start again */
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.banner-text {
  background-color: black;
  opacity: 8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
.banner-text h1 {
  font-size: 280%;
  font-weight: bold;
  color: white;
  text-align: center;
}
.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}
.banner-text p {
  color: white;
  font-size: 1.5em;
  padding: 1em;
  text-align: center;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}
.projects-grid {
  display: flex;
}
/* .projects-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: red;
} */
/* Card {
  display: flex;
  text-align: center;
} */
.contact-body {
  margin: auto;

  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.contact-grid {
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: auto;
  background: white;
  color: black;

  margin-bottom: 20px;
  height: 550px;
}
.contact-grid h2 {
  font-family: "Anton", sans-serif;
}
.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}
.contact-grid blockquote {
  font-size: 120%;
  color: black;
  font-weight: bold;
}
.contact-grid figcaption {
  color: navy;
}
.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}
.contact-list i {
  font-size: 3em;
  padding-right: 5rem;
}
.list-item-content {
  font-size: 1em;
  font-family: "Anton";
}
form input[type="text"],
textarea {
  font-size: 1.5em;
  margin: 0.5em;
  border: 2px solid navy;
  border-radius: 6px;
}
form button {
  font-size: 1.5em;
}

/* css for about me page */
.about-me-title {
  font-size: 3em;
  color: white;
  text-align: center;
  margin-top: 2em;
}
.description-text {
  font-size: 1.5em;
  color: #fff;

  padding: 1em;
}
.about-me hr {
  width: 50%;
  text-align: center;
  border-top: 5px solid white;
  margin: auto;
  padding: 1em;
}
.about-me blockquote {
  color: #ffff;
}
.about-me figcaption {
  color: #ffff;
  text-align: right;
}
.about-me {
  background: linear-gradient(45deg, red, blue);
  margin-top: auto;
}

/* css for resume component */
.heading-grid h2 {
  font-size: 280%;
  text-shadow: 2px 2px 2px black;
}

.resume-contact i,
.certifications-content i {
  font-size: 280%;
  color: black;
  padding-right: 1em;
}

.resume-heading h2 {
  color: navy;
  font-size: 280%;
  text-shadow: 2px 2px 2px black;
}

.resume-body li {
  color: #3e4444;
  font-size: 150%;
}
.resume-contact {
  text-align: left;
}

.resume-contact p {
  display: inline-block;
  font-size: 150%;
  color: black;
}
.education-content p {
  color: #0d0221;
  font-size: 150%;
  margin-left: 1em;
}
.resume-body h3 {
  font-size: 200%;
  color: #2e294e;
  text-shadow: 1px 1px 2px darkblue;
}
.certifications-content {
  display: inline-block;
}
.certifications-content i {
  display: inline;
  font-size: 150%;
  padding: 2px;
  margin-right: 0.5em;
}
.certifications-content {
  float: right;
}
.certifications-content p {
  display: inline-block;
  font-size: 150%;
  color: black;
}
.certifications-content i {
  font-size: 280%;
}
